@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
}

body {
    font-family: "arial", sans-serif;
    display: flex;
    min-height: 100vh;
}

#root {
    flex: 1;
}

.App {
    width: 100%;
    max-width: 100%;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0.5rem;
    border: 1px solid mediumblue;
}

.cont{
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding-left: 24px;
    padding-right: 24px;
}

.section {
  border: 1px solid blue;
  flex: 1;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  background-color: whitesmoke;
  padding: 0 2rem 2rem 2rem;
}


.Header,
.Footer {
    width: 100%;
    background-color: #66d8f5;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Header h1 {
    font-size: 1.5rem;
}


footer {
    width: 100%;
    padding: 0.25em;
    background-color: #66d8f5;
    color: black;
    display: grid;
    place-content: center;
}